<div class="container-fluid">
  <div>
    <table class="table table-borderless">
      <thead class="bg-dark text-light">
      </thead>
      <tbody>
      <tr *ngFor="let remark of remarks">
        <td class="text-center font-weight-bold text-light">
          <div [ngClass]="{'bg-success': remark.quality === 'positive', 'bg-danger': remark.quality === 'negative'}" class="container-fluid card-body">
            {{remark.description}}
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
